.container {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
    overflow-x: auto;
    background-color: rgb(237, 237, 237);
    margin: auto;
}

.movies-item {
    height: 100%;
}

.card {
    padding: 1rem;
}